extends layout

block content
  h1 BookStore
  p
  .col2
        form(action=`/api/books/admin/delete/:id`, method = 'delete')
          | DELETE:
          br
          input(type='integer', name='delete', value='')
          br
          input(name='search', value='Submit')
