extends layout

block content
  h1  BookStore
  p
  .col1
      button.btn
        a(href='http://localhost:3000/api/books')
          | Begin Search
          br
          //input(type='text', name='title', value='')
