extends layout

block content
  a(href='http://localhost:3000/')
      h1  BookStore

  p
  .col1
      button.btn
        a(href='http://localhost:3000/api/books')
          | Begin Search
          br
      button.btn
        a(href='http://localhost:3000/api/books/admin')
          | Administrator
          br
          
  
  .jumbotron
    h1.display-3 Hello, world!
        
        p
          | Test
        p.lead
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
