extends layout

block content
  h1(href='http://localhost:3000/api/books') HomePage  BookStore

  p
  .col1
      button.btn
        a(href='http://localhost:3000/api/books')
          | Begin Search
          br
      button.btn
        a(href='http://localhost:3000/api/books/admin')
          | Administrator
          br
          .jumbotron
  h1.display-3 Hello, world!
      p.lead
        |  a simple jumbotron-style component for calling extra attention to featured content or information.
      hr.my-4
      p
        | It uses utility classes for typography and spacing to space content out within the larger container.
      p.lead
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
