extends layout

block content
  a(href='http://localhost:3000/')
      h1  BookStore
  p
  .col2
        form(action='/api/books/title/details/update/:id', method = 'put')
          | Title:
          br
          input(type='text', name='title', value='')
          br
          //input(name='search', type='submit', value='Submit')   
          | Author
          br
          input(type='text', name='author', value='')
          br
          //input(name='search', type='submit', value='Submit')    
          | Genre
          br
          input(type='text', name='genre', value='')
          br
          //input(name='search', type='submit', value='Submit')
          | Publisher
          br
          input(type='text', name='publisher', value='')
          br
          input(name='search', type='submit', value='Submit')
          
          br
  button.btn
    a(href='http://localhost:3000/api/books/title/details/update/:id')
      | UPDATE 
